.site-title {
  color: #ffffff;
  font-size: 61px;
  padding-top: 2em;
  font-family: Orbitron, sans-serif;
}

body {
  font-family: Nunito, sans-serif;
  height: 100vh;
}

.h2 {
  font-family: Nunito, sans-serif;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.card_cover {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/41+rMi0j-UL._SX303_BO1,204,203,200_.jpg");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.paralax-home {
  background-image: url("https://i.pinimg.com/originals/cd/32/aa/cd32aa453661b55037418910a6f68a0a.gif");
  background-position: center;
  background-size: cover;
  height: 400px;
}

/* visited link */

a:visited {
  color: grey;
}

/* mouse over link */

a:hover {
  color: hotpink;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
